[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-multipart = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"
